﻿@using System.Web.Mvc.Html
@using BusinessLayer.DataTransferObjects.Enums
@using PagedList.Mvc

@model PresentationLayer.Models.UserListModel

@{
    ViewBag.Title = "Users";
}

<h2>Users
    @if (User.IsInRole(RoleTypes.Doctor.ToString()))
    {
        @Html.ActionLink("+ New patient", "RegisterPatient", "User", new { }, new { @class = "btn btn-success btn-sm ml-2" })
    }
</h2>
<hr />

<div class="container">

    @{string shown = Model.FirstNameFilter != null || Model.SurnameFilter != null
                                         || Model.BirthDateFilter != null || Model.BirthNumFilter != null ? "show" : ""; }
    @using (Html.BeginForm("FilterList", "User", FormMethod.Get, new { @style = "margin-left:15px" })) {
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    First Name
                </div>
                <div class="row filter collapse @shown">
                    @Html.EditorFor(model => model.FirstNameFilter, new { htmlAttributes = new { @class = "form-control col-md-11" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    Surname
                </div>
                <div class="row filter collapse @shown">
                    @Html.EditorFor(model => model.SurnameFilter, new { htmlAttributes = new { @class = "form-control col-md-11" } })
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    Birth Date
                </div>
                <div class="row filter collapse @shown">
                    @Html.EditorFor(model => model.BirthDateFilter, new { htmlAttributes = new { @class = "form-control col-md-11" } })
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    Birth Number
                </div>
                <div class="row filter collapse @shown">
                    @Html.EditorFor(model => model.BirthNumFilter, new { htmlAttributes = new { @class = "form-control col-md-11" } })
                </div>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <a href="#" data-toggle="collapse" data-target=".filter" id="filter-toggle">
                        Filter
                    </a>
                </div>
                <div class="row filter collapse @shown">
                    <input type="submit" value="Filter" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div class="filter row" style="margin-top:0.5rem"> </div>


    <hr style="margin-top: 0" />

    @if (!Model.Users.Any()) {
        <div class="row">
            <div class="col-md-12">
                <i>No users found.</i>
            </div>
        </div>
    }

    @foreach (var user in Model.Users) {

        string deaceasedTint = !user.Alive ? "darkgrey" : "inherit";

        <a class="row user-list" href="/User/@user.Username/Detail" style="color:@(deaceasedTint)">


            <div class="col-md-3 no-overflow">
                @user.FirstName
            </div>
            <div class="col-md-3 no-overflow">
                @user.Surname
            </div>
            <div class="col-md-3 no-overflow">
                @($"{user.BirthDate.Day}. {user.BirthDate.Month}. {user.BirthDate.Year}")

            </div>
            <div class="col-md-3 no-overflow">
                @user.BirthNumber
            </div>

        </a>
    }


    @if (Model.Users.PageCount != 1) {
        <hr />
        @Html.PagedListPager(Model.Users, page => Url.Action("FilterList", new { page = page,
                                                                               FirstNameFilter = Model.FirstNameFilter,
                                                                               SurnameFilter = Model.SurnameFilter,
                                                                               BirthDateFilter = Model.BirthDateFilter,
                                                                               BirthNumFilter = Model.BirthNumFilter  }))
    }



</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#filter-toggle").click(function () {
                $("#filter-toggle").text($.trim($("#filter-toggle").text()) == "Filter" ? "Collapse" : "Filter");
            });
        });
    </script>
}