﻿@model PresentationLayer.Models.UserRegisterModel
@using BusinessLayer.DataTransferObjects.Enums

@{
    ViewBag.Title = "User Registration";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        Registration failed. Correct invalid fields and try again.
    </div>
}
<h2>User Registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.BirthNumber, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BirthNumber, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.BirthNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @type = "date", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label" })
            @{
                var selectList = new SelectList(
                                        Enum.GetValues(typeof(RoleTypes))
                                            .Cast<RoleTypes>()
                                            .Where(e => e != RoleTypes.Unregistered)
                                        );
            }
            @Html.DropDownList(nameof(Model.Role), selectList, new { @class = "form-control col-md-12" })
            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control col-md-12" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">

            <input type="submit" value="Create Account" class="btn btn-default" />
        </div>
    </div>
</div>
}


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#BirthNumber").change(
                    function (e) {
                        var birthnum = $(e.target).val();

                        var year, month, day;
                        if (birthnum.length >= 6) {
                            try {
                                year = Number(birthnum.slice(0, 2));
                                month = (Number(birthnum.slice(2, 4)) % 50) % 20;
                                day = Number(birthnum.slice(4, 6));
                            }
                            catch (e) {
                                return;
                            }
                        }
                        $("#BirthDate").val(`19${year}-${month < 10 ? "0" : ""}${month}-${day < 10 ? "0" : ""}${day}`);
                    }
                );

                $("#BirthNumber").keyup(function (e) {
                    if (e.key == "Delete" || e.key == "Backspace") return;
                    var current = String($(e.target).val()).split("");
                    var filtered = "";
                    $.each(current, function (i, val) {
                        if (i == 6) {
                            filtered += "/"
                            if (val != '/') {
                                filtered += val;
                            }
                        } else if (i < 11) {
                            if (!isNaN(Number(val))) {
                                filtered += val;
                            }
                        }
                    });
                    if (filtered.length == 6) {
                        filtered += "/";
                    }
                    $(e.target).val(filtered.slice(0, 11));
                    console.log(filtered);
                });

            })
        </script>


    }
