﻿@model PresentationLayer.Models.UserDetailModel
@using BusinessLayer.Facades
@using BusinessLayer.Services.Users

@{
    ViewBag.Title = "User detail";
}

@if (Model.UserDetail != null)
{
    using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h2>
            @($"{Model.UserDetail.FirstName} {Model.UserDetail.Surname}")

        </h2>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        //@Model.UserDetail.Role.RoleType.ToString()
        <div class="row">
            <div class="form-group col-md-2">
                Username:
            </div>
            <div class="form-group col-md-10">
                @Model.UserDetail.Username
            </div>

            <div class="form-group col-md-2">
                Name:
            </div>
            <div class="form-group col-md-10 form-inline">
                @if (ViewBag.HasPermission(Permission.editUsers) || Model.UserDetail.Username == User.Identity.Name) {
                    @Html.EditorFor(model => model.UserDetail.FirstName, new { htmlAttributes = new { @class = "form-control col-md-2", placeholder = "First name" } })
                    @Html.EditorFor(model => model.UserDetail.Surname, new { htmlAttributes = new { @class = "form-control col-md-2 ml-2", placeholder = "Last name" } })

                    @Html.ValidationMessageFor(model => model.UserDetail.FirstName, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.UserDetail.Surname, "", new { @class = "text-danger" })
                } else {
                    @Html.EditorFor(model => model.UserDetail.FirstName, new { htmlAttributes = new { @class = "form-control col-md-2", @readonly = "readonly" } })
                    @Html.EditorFor(model => model.UserDetail.Surname, new { htmlAttributes = new { @class = "form-control col-md-2 ml-2", @readonly = "readonly" } })
                }
            </div>
            <div class="form-group col-md-2">
                Birth date:
            </div>
            <div class="form-group col-md-10">
                @if (ViewBag.HasPermission(Permission.editUsers) || Model.UserDetail.Username == User.Identity.Name) {
                    @Html.EditorFor(model => model.UserDetail.BirthDate, new { htmlAttributes = new { @type = "date", @class = "form-control col-md-4" } })
                    @Html.ValidationMessageFor(model => model.UserDetail.BirthDate, "", new { @class = "text-danger" })
                } else {
                    @Html.EditorFor(model => model.UserDetail.BirthDate, new { htmlAttributes = new { @type = "date", @class = "form-control col-md-4", @readonly = "readonly" } })
                }
            </div>
            <div class="form-group col-md-2">
                Birth number:
            </div>
            <div class="form-group col-md-10">
                @Model.UserDetail.BirthNumber
            </div>

            <div class="form-group col-md-2">
                Status:
            </div>
            <div class="form-group col-md-10">
                @if (Model.UserDetail.Alive)
                {
                    <b>@("Aʟɪᴠᴇ")</b>
                }
                else
                {
                    <b>@("Dᴇᴄᴇᴀsᴇᴅ")</b>
                }

            </div>

            <div class="form-group col-md-2"></div>
            @if (ViewBag.HasPermission(Permission.accessCards) || Model.UserDetail.Username == User.Identity.Name)
            {
                <div class="form-group col-md-10">
                    @{ string outline = !Model.UserDetail.HasCard ? "-outline" : ""; }
                    @Html.ActionLink("Card", "Index", "Card", new {username = Model.UserDetail.Username}, new {@class = $"btn btn{outline}-primary"})
                </div>
            }
        </div>


        <p>
            @if (ViewBag.HasPermission(Permission.editUsers) || Model.UserDetail.Username == User.Identity.Name)
            {
                @*Html.ActionLink("Edit", "Edit", "User", new {Model.UserDetail.Username}, new {@class = "btn btn-warning"})*@
                @Html.Hidden("username", Model.UserDetail.Username)
                <input type="submit" value="Save" class="btn btn-warning" formaction="Edit"/>
            }
            @if (ViewBag.HasPermission(Permission.viewUsers))
            {
                @Html.ActionLink("Back", "Index", null, new {@class = "btn btn-secondary"})
            }
            else
            {
                @Html.ActionLink("Back", "Index", "Home", null, new {@class = "btn btn-secondary"})
            }

        </p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var year = @Model.UserDetail.BirthDate.Year;
            var month = @Model.UserDetail.BirthDate.ToString("MM");
            var day = @Model.UserDetail.BirthDate.ToString("dd");
            $("#UserDetail_BirthDate").val(`${year}-${month < 10 ? "0" : ""}${month}-${day < 10 ? "0" : ""}${day}`);
        })
    </script>

}