﻿@model PresentationLayer.Models.PermissionModel
@using BusinessLayer.Services.Users
@using BusinessLayer.DataTransferObjects.Enums
@using PresentationLayer.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Edit permissions</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="container">

        @*
            @foreach (var rolePermissions in Model.RolePermissions)
            {
                <h4>@rolePermissions.Key.ToString()</h4>
                foreach (var permission in (PermissionStringEnum[])Enum.GetValues(typeof(PermissionStringEnum)))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@permission.ToString()" name="@($"{nameof(Model.RolePermissions)}[{rolePermissions.Key}]")" @((rolePermissions.Value != null && rolePermissions.Value.Contains(permission.ToString()) ? "checked" : ""))>
                        <label class="form-check-label" for="defaultCheck1">
                            @permission.ToString()
                        </label>
                    </div>
                }
            }
        *@



        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    @foreach (var rolePermissions in Model.RolePermissions)
                    {
                        <li class="@((rolePermissions.Key == Model.RolePermissions.First().Key)?
                                        "active" : "")
                                        ">
                            <a href="#tab_@rolePermissions.Key" data-toggle="tab">
                                @rolePermissions.Key                                
                            </a>
                        </li>
                    }
                </ul>
                <div class="tab-content">
                    @foreach (var rolePermissions in Model.RolePermissions)
                    {
                    <div class="tab-pane @((rolePermissions.Key == Model.RolePermissions.First().Key)?
                                        "active" : "")" id="tab_@rolePermissions.Key">

                        @foreach (Permission permission in Enum.GetValues(typeof(Permission)).Cast<Permission>().OrderBy(permission => EnumUtils.GetEnumDescription(permission)))
                        {
                            if (!(rolePermissions.Key == RoleTypes.Director.ToString() && permission == Permission.editPermissions))
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@permission.ToString()" name="@($"{nameof(Model.RolePermissions)}[{rolePermissions.Key}]")" @((rolePermissions.Value != null && rolePermissions.Value.Contains(permission.ToString()) ? "checked" : ""))>
                                    <label class="form-check-label" for="defaultCheck1">
                                        @EnumUtils.GetEnumDescription(permission)
                                    </label>
                                </div>
                            }
                        }

                    </div>

                    }

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="mt-2">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(
            function () {
                $(".nav-tabs>li").click(function (e) {
                    $(".nav-tabs>li").each(function (i, el) {
                        $(el).removeClass("active");
                    });
                    $(e.currentTarget).addClass("active");
                });
            }
        );
    </script>
    
}
