﻿@model PresentationLayer.Models.CardDetailModel
@using BusinessLayer.DataTransferObjects
@using BusinessLayer.Services.Users
@using PagedList.Mvc

@{
    ViewBag.Title = "Card";
}


<div>
    @if (Model.UserExists)
    {
        <h4>@(Model.User.FullName)'s Card</h4>
        if (Model.CardExists)
        {
        <div class="container">
            @if (!Model.SolvedIssues.Any() && !Model.UnsolvedIssues.Any())
            {
                <div class="col-md-12">
                    This user currently has no issues. Good for them!
                </div>
            }


            @if (Model.UnsolvedIssues.Count > 0)
            {
                <div class="row">
                    @Html.LabelFor(model => model.UnsolvedIssues, "Unsolved issues", new { @class = "control-label font-weight-bold" })
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Ailment
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Treatments
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Since
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Until
                            </div>
                        </div>
                    </div>
                    @foreach (IssueDto issue in Model.UnsolvedIssues)
                    {
                        <a class="row user-list" href="@Url.Action("Index", "Issue", new {id = issue.Id})">
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @(string.IsNullOrWhiteSpace(issue.Ailment?.Name) ? "❓" : issue.Ailment.Name)
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row align-self-center">
                                    @issue.Treatments.Count
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @($"{issue.Since:d. M. yyyy}")
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @($"{issue.Until:d. M. yyyy}")
                                </div>
                            </div>
                        </a>

                    }
                </div>
                if (Model.UnsolvedIssues.PageCount > 1)
                {
                    <hr class="mt-0 mb-0" />
                    @Html.PagedListPager(Model.UnsolvedIssues, page => Url.Action("Index", new { username = Model.User.Username, solvedPage = page, unsolvedPage = Model.UnsolvedIssues.PageNumber }))
                }
            }


            @if (Model.UnsolvedIssues.Count != 0)
            {
                <br />
            }

            @if (Model.SolvedIssues.Count > 0)
            {


                <div class="row">

                    @Html.LabelFor(model => model.SolvedIssues, "Solved issues", new { @class = "control-label font-weight-bold" })

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Ailment
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Treatments
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Since
                            </div>
                        </div>
                        <div class="col-md-3 font-weight-bold">
                            <div class="row">
                                Until
                            </div>
                        </div>
                    </div>

                    @foreach (IssueDto issue in Model.SolvedIssues)
                    {
                        <a class="row user-list" href="@Url.Action("Index", "Issue", new {id = issue.Id})">
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @(string.IsNullOrWhiteSpace(issue.Ailment?.Name) ? "❓" : issue.Ailment.Name)
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row align-self-center">
                                    @issue.Treatments.Count
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @($"{issue.Since:d. M. yyyy}")
                                </div>
                            </div>
                            <div class="col-md-3 no-overflow">
                                <div class="row">
                                    @($"{issue.Until:d. M. yyyy}")
                                </div>
                            </div>
                        </a>
                    }
                </div>
                if (Model.SolvedIssues.PageCount > 1)
                {
                    <hr class="mt-0 mb-0" />
                    @Html.PagedListPager(Model.SolvedIssues, page => Url.Action("Index", new { username = Model.User.Username, solvedPage = Model.SolvedIssues.PageNumber, unsolvedPage = page }))
                }

            }



            <br />
            <div class="row ">

                @if (ViewBag.HasPermission(Permission.editCards) && ViewBag.HasPermission(Permission.accessCards) && Model.User.Alive)
                {
                    @Html.ActionLink("Add new", "CreateIssue", "Issue", new { username = Model.User.Username }, new { @class = "btn btn-success" })
                    @Html.ActionLink("👻 Dead", "DeclareDead", "User", new { username = Model.User.Username }, new { @class = "btn btn-outline-dark ml-3", onclick = $"return confirm('Are you sure you want to permanently declare {Model.User.FullName} dead and forbid creating new issues?');" })
                }
                @if (ViewBag.HasPermission(Permission.viewUsers))
                {
                    if (ViewBag.HasPermission(Permission.editCards) && ViewBag.HasPermission(Permission.accessCards) && Model.User.Alive)
                    {
                        @Html.ActionLink("Back", "Detail", "User", new { username = Model.User.Username }, new { @class = "btn btn-secondary ml-3" })

                    }
                    else
                    {
                        @Html.ActionLink("Back", "Detail", "User", new { username = Model.User.Username }, new { @class = "btn btn-secondary" })

                    }

                }
                else
                {
                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-secondary" })
                }

            </div>

        </div>
        }
        else
        {
            if (ViewBag.HasPermission(Permission.editCards))
            {
                @Html.ActionLink("User has no card. Would you like to create one?", "Create", "Card", new { username = Model.User.Username }, new { })
            }
            else
            {
                <p>User has no card.</p>
            }
        }
    }
    else
    {
        <h4>User doesn't exist</h4>
    }

</div>