﻿@model PresentationLayer.Models.AilmentCreateModel

@{
    ViewBag.Title = "AilmentCreateView";
}

@if (Model.AilmentId == null)
{
    <h2>New ailment</h2>
}
else
{
    <h2>Edit ailment </h2>
    if (@Model.AilmentId != null)
    {
        using (Html.BeginForm("DeleteAilmentWithReferences", "Issue", FormMethod.Post))
        {
            <input hidden value="@Model.AilmentId" name="id" />
            <button class="btn btn-danger" type="submit">Delete</button>
        }
    }

}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <input hidden value="@Model.AilmentId" name="@nameof(Model.AilmentId)" />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row font-weight-bold">
                @Html.LabelFor(model => model.AilmentName, "Ailment Name", htmlAttributes: new { @class = "control-label col-md-12" })
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.AilmentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AilmentName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="row font-weight-bold">
                    Symptoms
                </div>
                @{
                    Html.RenderPartial("PagedSymptoms", Model);
                    @Html.ValidationMessageFor(model => model.SymptomGuidsFilter, "", new { @class = "text-danger" })
                }
            </div>
            @if (Model.Symptoms.PageCount > 1)
            {
                <hr />
            }
        </div>



        <div class="form-group">
            @if (Model.AilmentId == null) {

                <input type="submit" value="Create" class="btn btn-default" formaction="Create" />

            } else {

                <input type="submit" value="Apply" class="btn btn-warning" formaction="Edit" />

            }
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
