﻿@model PresentationLayer.Models.AilmentListModel
@using BusinessLayer.DataTransferObjects
@using BusinessLayer.Services.Users
@using PagedList.Mvc

@{
    ViewBag.Title = "AilmentsView";
}

<h2>
    Ailments

    @if (ViewBag.HasPermission(Permission.editAilments))
    {
        @Html.ActionLink("+ Add", "Create", null, new { @class = "btn btn-success btn-sm ml-2" })
    }

</h2>
<hr />
@if (TempData["AlertMessage"] != null)
{
    if (TempData["AlertMessage"].ToString().Contains("success"))
    {
        <div class="alert alert-success" role="alert">
            @TempData["AlertMessage"]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @TempData["AlertMessage"]
        </div>
    }
}

<a href="#" data-toggle="collapse" data-target="#filter">
    <h3 class="bg-light text-dark">Filter</h3>
</a>
@using (Html.BeginForm("Index", "Ailments", FormMethod.Get, new { id = "filterForm" }))
{
    <div id="filter" class="container collapse bg-light @((Model.AilmentNameFilter != null || Model.SymptomGuidsFilter != null || Model.Symptoms.PageNumber > 1) ? "show" : "")">
        <hr />
        <div class="row">


            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        Ailment Name
                    </div>
                    <div class="col-md-12">
                        @Html.EditorFor(m => m.AilmentNameFilter, new { htmlAttributes = new { @class = "form-control col-md-11" } })
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    Symptoms
                </div>
                @{
                    Html.RenderPartial("PagedSymptoms", Model);
                }
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mt-4">
                <input type="submit" value="Filter" class="btn btn-secondary" />
                @Html.ActionLink("Reset", "Index", "Ailments", new { }, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>
        <hr />

    </div>
}
@if (!Model.Ailments.Any())
{
    <div class="row">
        <div class="col-md-12">
            <i> No ailments found.</i>
        </div>
    </div>
}

@foreach (AilmentDto ailment in Model.Ailments)
{
    <div class="row">

        @Html.ActionLink(ailment.Name, "Edit", "Ailments", new { name = ailment.Name }, new { @class = "user-list col-md-12 " })

    </div>
}


@if (Model.Ailments.PageCount > 1)
{
    <hr />
    @Html.PagedListPager(Model.Ailments, page => Url.Action("Index", new { ailmentPage = page, symptomPage = Model.Symptoms.PageNumber, model = Model, AilmentNameFilter = Model.AilmentNameFilter, SymptomGuidsFilter = Model.SymptomGuidsFilter }))
}