﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Action("Navigation")

    <div class="container body-content" style="margin-top:10px">
        @using PresentationLayer.Models.Base
        @model BaseModel
        @if (Model != null && Model.HasAlert())
        {
            <div class="@Model.Alert.Type" role="alert">
                @Model.Alert.Message
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hospital</p>
        </footer>
    </div>


</body>
</html>
