﻿@model PresentationLayer.Models.LoginModel
@using BusinessLayer.Services.Users
@using BusinessLayer.DataTransferObjects.Enums

<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Hospital", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon" />
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">


                @if (ViewBag.HasPermission(Permission.viewUsers) && (User.IsInRole(RoleTypes.Doctor.ToString())))
                {
                    <li class="nav-item">@Html.ActionLink("Users", "", "User", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret grey"></b></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("User list", "", "User", new { }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Register a patient", "RegisterPatient", "User", new { }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else if (ViewBag.HasPermission(Permission.viewUsers))
                {
                    <li class="nav-item">@Html.ActionLink("Users", "", "User", new { }, new { @class = "nav-link" })</li>

                }
                else if (User.IsInRole(RoleTypes.Doctor.ToString()))
                {
                    <li class="nav-item">@Html.ActionLink("Register a patient", "RegisterPatient", "User", new { }, new { @class = "nav-link" })</li>
                }


                @if (ViewBag.HasPermission(Permission.viewAilments))
                {
                    <li class="nav-item">@Html.ActionLink("Ailments", "", "Ailments", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret grey"></b></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("Ailment list", "", "Ailments", new { }, new { @class = "dropdown-item" })

                            @if (ViewBag.HasPermission(Permission.editAilments))
                            {
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Add an ailment", "Create", "Ailments", new { }, new { @class = "dropdown-item" })
                            }

                        </div>

                    </li>
                }
                else if (ViewBag.HasPermission(Permission.editAilments))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Add Ailment", "Create", "Ailments", new { }, new { @class = "nav-link" })
                    </li>
                }


                @if (ViewBag.HasPermission(Permission.viewSymptoms))
                {

                    <li class="nav-item">@Html.ActionLink("Symptoms", "", "Symptoms", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret grey"></b></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("Symptom list", "", "Symptoms", new { }, new { @class = "dropdown-item" })
                            @if (ViewBag.HasPermission(Permission.editSymptoms))
                            {
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Add a symptom", "Create", "Symptoms", new { }, new { @class = "dropdown-item" })
                            }
                        </div>

                    </li>
                }
                else if (ViewBag.HasPermission(Permission.editSymptoms))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Add Symptom", "Create", "Symptoms", new { }, new { @class = "nav-link" })
                    </li>
                }

                @if (User.IsInRole(RoleTypes.Director.ToString()) || ViewBag.HasPermission(Permission.editPermissions))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Permissions", "", "Permissions", new { }, new { @class = "nav-link" })
                    </li>
                }

            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        @{Html.RenderPartial("NavigationLogin", Model);}
                                    </div>
                                    <div class="bottom text-center">
                                        New here ? @Html.ActionLink("Register", "Register", "User", new { }, new { })
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink(User.Identity.Name, "Detail", "User", new { username = User.Identity.Name}, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"><span class="fa fa-user"></span><b class="caret grey"></b></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("My profile", "Detail", "User", new { username = User.Identity.Name}, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Logout", "Logout", "User", new { }, new { @class = "dropdown-item" })
                        </div>

                    </li>
                }
            </ul>

        </div>
    </div>
</nav>