﻿@model PresentationLayer.Models.LoginModel

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{

    <div class="form-group">
        <label class="sr-only">Username</label>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
    </div>
    <div class="form-group">
        <label class="sr-only">Password</label>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </div>
}