﻿@model PresentationLayer.Models.PagedSymptomListModel

@if (Model.SymptomGuidsFilter != null && Model.SymptomGuidsFilter.Any())
{
    foreach (Guid id in Model.SymptomGuidsFilter)
    {
        if (!Model.Symptoms.Any(s => s.Id == id))
        {
            <input class="form-check-input" type="checkbox" hidden value="@id" name="@($"{nameof(Model.SymptomGuidsFilter)}")" checked>
        }
    }
}

@if (Model.Symptoms != null)
{
    for (int i = 0; i < Model.Symptoms.Count; i += 3)
    {
        <div class="row">
            @for (int x = i; x < Math.Min(i + 3, Model.Symptoms.Count); x++)
            {
                <div class="col-md-4 form-check">
                    @{
                        var symptom = Model.Symptoms[x];
                    }

                    <input class="form-check-input" type="checkbox" value="@symptom.Id " name="@($"{nameof(Model.SymptomGuidsFilter)}")" @((Model.SymptomGuidsFilter != null && Model.SymptomGuidsFilter.Contains(symptom.Id)) ? "checked" : "")>
                    <label class="form-check-label" for="defaultCheck1">
                        @symptom
                    </label>
                </div>
            }
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Symptoms != null && Model.Symptoms.PageCount > 1)
        {


            var formAction = Model.SymptomFilterActionName == null ? "" : $"'{@Url.Action(Model.SymptomFilterActionName)}'";

            <hr />
            <input type="hidden" name="symptomPage" id="symptomPage" value="@Model.Symptoms.PageNumber" />
            if (Model.Symptoms.HasPreviousPage)
            {
                <button class="btn btn-default" onclick="$('#symptomPage').val(@(Model.Symptoms.PageNumber-1))" @(Model.SymptomFilterActionName != null ? $"formaction = '{Model.SymptomFilterActionName}'" : "")>Previous Page</button>
            }
            if (Model.Symptoms.HasNextPage)
            {
                <button class="btn btn-default float-right" onclick="$('#symptomPage').val(@(Model.Symptoms.PageNumber+1))" @(Model.SymptomFilterActionName != null ? $"formaction = {Model.SymptomFilterActionName}" : "")>Next Page</button>
            }


            //@Html.PagedListPager(Model.Symptoms, page => Url.Action("Index", new { ailmentPage = Model.Symptoms.PageNumber, symptomPage = page, }))
        }

    </div>
</div>

@section Scripts {
    <script>

        function changeSymptomPage(page) {
            $("#symptomPage").val(page);
            //$("#filterForm").submit();
        }

    </script>
}