﻿@using PresentationLayer.Controllers
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <img class="rounded float-left" alt="Hospital icon" src="~/favicon.ico"/>
        <h1 class="card-header">Hospital</h1>
        <br/>
    </div>
    <div>
        <p class="lead text-left">This is a simple application intended to manage a hospital, its patients and ailments.</p>
        <p>
            <a href="https://gitlab.fi.muni.cz/xjezek7/Nemocnice" class="btn btn-secondary btn-sm">GitLab &raquo;</a>
        </p>
    </div>
</div>