﻿@model PresentationLayer.Models.SymptomListModel
@using BusinessLayer.DataTransferObjects
@using BusinessLayer.Services.Users
@using PagedList.Mvc

@{
    ViewBag.Title = "SymptomListView";
}

<h2>
    Symptoms
    @if (ViewBag.HasPermission(Permission.editSymptoms))
    {
        @Html.ActionLink("+ Add", "Create", null, new { @class = "btn btn-success btn-sm ml-2" })
    }

</h2>
<hr/>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            Symptom Description
        </div>
    </div>

    <hr style="margin-top:0.2rem;margin-bottom:0.2rem" />

    @foreach (SymptomDto item in Model.Symptoms)
    {
        <div class="row">
            <div class="col-md-11">
                @(item)
            </div>

            @if (ViewBag.HasPermission(Permission.editSymptoms))
            {
                <div class="col-md-1">
                    <form action="@Url.Action("Delete")" method="post">
                        <input type="hidden" value="@item.Id" name="id" />

                        <button type="submit" class="close float-left" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </form>
                </div>
            }
        </div>

    }

    @if (Model.Symptoms.PageCount != 1)
    {
        <hr />
        @Html.PagedListPager(Model.Symptoms, page => Url.Action("Index", new { page = page }))
    }

</div>
