﻿@using BusinessLayer.DataTransferObjects
@using BusinessLayer.Services.Users
@model PresentationLayer.Models.IssueDetailModel

@{
    ViewBag.Title = "Issue Detail";
}

<h2>
    @($"{(Model.Issue.AilmentId.HasValue ? Model.Issue.Ailment.Name : "Unknown")}")
</h2>

<div>
    <div>
        <b>Since:</b>&#12288;@($"{Model.Issue.Since:d. M. yyyy}")
    </div>
    @if (Model.Issue.Until != null)
    {
        <div>
            <b>Until:</b>&#12288;@($"{Model.Issue.Until:d. M. yyyy}")
        </div>
    }
    <hr/>


    @if (!Model.Issue.Solved)
    {
        using (Html.BeginForm("ChangeAilment", "Issue", FormMethod.Post, new {@class = "form-inline"}))
        {
            @Html.AntiForgeryToken()
            <div class="row form-group">
                <p class="col-md-12 font-weight-bold">Specify ailment</p>
                <div class="col-md-4">
                    <select name="@nameof(Model.Issue.Ailment)" class="form-control">
                        <option value="">Unknown</option>
                        @foreach (AilmentDto ailment in Model.ApplicableAilments)
                        {
                            <option @(Model.ChosenAilment == ailment.Id ? "selected" : "") value="@ailment.Id">@ailment.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <input type="hidden" name="issue" value="@Model.Issue.Id"/>
                    <input type="submit" value="Apply" class="btn btn-warning"/>
                    @*Html.ActionLink("Apply", "ChangeAilment", "Issue", new {issue = Model.Issue.Id, ailment = Model.ChosenAilment}, new {@class = "btn btn-warning"})*@
                </div>
            </div>
        }
        <hr/>
    }
    <div class="row">
        <div class="col-md-12 font-weight-bold">Symptom summary</div>
        <div class="col-md-12">
            @* Select distinct *@
            @string.Join(", ", Model.AllSymptoms.GroupBy(s => s.Description).Select(g => g.First().ToString()))
        </div>
    </div>


    <hr/>

    @foreach (TreatmentDto treatment in Model.Treatments.OrderBy(treatment => treatment.Date))
    {
        <a class="row">
            <div class="col-md-2 no-overflow">
                <b>@($"{treatment.Date:d. M. yyyy}")</b>
            </div>
            <div class="col-md-7 no-overflow" style="padding-left: 0;">
                @treatment.Message
            </div>
            <div class="col-md-3 no-overflow">
                @{
                    var treatmentSymptom = Model.DiscoveredSymptoms.Where(ts => ts.Treatment.Id == treatment.Id);
                    var applicableSymptoms = treatmentSymptom.SelectMany(ts => ts.Symptoms);
                }
                @string.Join(", ", applicableSymptoms)
            </div>
        </a>
    }
    <br/>

    @* Remains open even after death, e.g. for an autopsy *@
    @if (ViewBag.HasPermission(Permission.editCards) && ViewBag.HasPermission(Permission.accessCards))
    {
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Resolve", "Issue", FormMethod.Post, new {@class = "form-inline"}))
                {
                    if (!Model.Issue.Solved)
                    {
                        <hr/>

                        @Html.ActionLink("Add new", "CreateTreatment", "Issue", new {issue = Model.Issue.Id}, new {@class = "btn btn-success"})
                        <input type="hidden" name="id" value="@Model.Issue.Id"/>
                        <input type="submit" value="Resolve" class="btn btn-dark ml-2"/>
                    }
                }

            </div>
        </div>
    }

    <dl class="dl-horizontal"></dl>
</div>