﻿@model PresentationLayer.Models.TreatmentAddModel

@{
    ViewBag.Title = "New Treatment";
}

<h2>Treatment session</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @type = "date", @class = "date form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message, "Message", htmlAttributes: new { @class = "control-label col-md-2" })        
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control col-md-12", placeholder = "A brief summary of the session." })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12">
        <label class="control-label">Symptoms</label>
        <hr class="mt-0" />
        <div class="form-group col-md-12">
            @{
                Html.RenderPartial("PagedSymptoms", Model);
            }
        </div>
        @if (Model.Symptoms.Any()) 
        {
            <hr />
        }
    </div>
        @Html.HiddenFor(model => model.IssueId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">                
                <input type="submit" value="Create" class="btn btn-success" formaction="CreateTreatment" />
                @Html.ActionLink("Back", "Index", "Issue", new { id = Model.IssueId }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                var now = new Date();

                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);

                var today = now.getFullYear() + "-" + (month) + "-" + (day);
                if ($('.date').val != null || $('.date').val.length == 0) {
                    $('.date').val(today);
                }

            });
        </script>
    }
